<!-- Copy this file to your .m2 directory (usually found in /home/yourusername or C:\Users\yourusername
set the username and password accordingly. -->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<localRepository/>
	<interactiveMode/>
	<usePluginRegistry/>
	<offline/>
	<pluginGroups/>
	<servers>
		<server>
	    	<id>TomcatServer</id>
	        <username>tomcat</username>
	        <password>tomcat</password>
		</server>
	</servers>
	<mirrors/>
	<proxies/>
	<profiles/>
</settings>