@CHARSET "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
}

body {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

form {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}