@CHARSET "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
}

body {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

form {
	width: 600px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.field label {
	display: inline-block;
    float: left;
    clear: left;
	width: 200px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align:-webkit-right
}

.field input {
	display: inline-block;
	float: left;
	clear: right;
	width: 200px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.formbutton {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.formbutton input {
	width: 150px;
}

.error {
	margin-top: 10px;
	color: red;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#buttonbar {
	margin-top: 10px;
}

.clear {
	clear: both;
}

#signupsuccess {
	margin-top: 50px;
}

.links {	
	list-style-type:none;
	margin-top: 20px;
}

.links a {
	text-decoration: none;
}

#messages-container {
	margin-bottom: 20px;
}

.signuperror {
	color: red;
}